<% content_for :title, @assessment.name %>  

<% content_for :left_sidebar do %>
  <%= render "layouts/shared/left_sidebar" %>
<% end %>

<div class="h-screen flex flex-col">

  <!-- Header -->
  <div class="px-8 pt-4">
    <!--Back button -->
    <%= link_to "javascript:history.back()", class: "flex items-center gap-1 text-base font-semibold hover:bg-gray-200 w-fit rounded-lg py-1 px-3" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="w-4 h-4"><path d="M10 19l-7-7 7-7"/><path d="M3 12h18"/></svg>
      Back
    <% end %>

    <div class="py-1 md:text-2xl font-semibold">
      <%= @assessment.name %>
    </div>
  </div>

  <div class="flex flex-row flex-1 not-first-of-type:overflow-hidden">
    <!-- Controls section -->
    <div class="bg-base-100 xl:w-120 rounded-2xl flex flex-col justify-between border border-gray-100 ml-6 mr-3 mt-4 mb-6 shadow-md transition-shadow">

      <!-- Control section filters -->
      <div class="p-4 pb-4 ">
        <div class="flex flex-row gap-4 pb-4">
          <div class="w-full">
            <%= form_with url: team_assessment_path(Current.team, @assessment), method: :get, class: "contents", local: true do |form| %>
              <%= hidden_field_tag :framework, @framework&.id %>

              <%= form.select :answer_state,
                Answer.states.keys.map { |s| [s.titleize, s] },
                { include_blank: "All States", selected: @answer_state },
                class: "select font-semibold", 
                onchange: "this.form.submit()" %>
            <% end %>
          </div>
          <div class="w-full">
            <%= form_with url:team_assessment_path(Current.team, @assessment), method: :get, class: "contents", local: true do %>
              <%= hidden_field_tag :answer_state, @answer_state %>

              <%= select_tag :framework,
                options_from_collection_for_select(@assessment.frameworks, :id, :code, @framework&.id),
                include_blank: "All Frameworks",
                class: "select font-semibold w-full",
                onchange: "this.form.submit()" %>
            <% end %>
          </div>
        </div>
        <div class="">
          <%= form_with url: team_assessment_path(Current.team, @assessment), method: :get, class: "contents", local: true do |form| %>
          <%= form.hidden_field :intent, value: "search" %>

            <label class="input w-full">
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
              <%= form.search_field :q,
                  required: true,
                  placeholder: "Search",
                  class: "" %>
              </label>
          <% end %>
        </div>
      </div>

      <!-- List of controls -->
      <div class="overflow-y-auto px-4 flex-auto">
        <%= render "controls" %>
      </div>

      <!-- Control section pagination -->
      <div class="flex items-center gap-4 text-sm py-3 px-4 border-t-2 border-gray-100">
        <div>
          <%= form_with url: team_assessment_path, method: :get, class: "flex items-center gap-2" do |form| %>
            <%= form.hidden_field :framework, value: @framework.id.to_s if @framework %>
            <%= form.hidden_field :answer_state, value: @answer_state %>
            <%= form.hidden_field :page %>

            <%= select_tag :per_page, options_for_select([20, 40, 60, 80], @per_page),
                class: "select w-auto h-8",
                onchange: "this.form.submit()" %>
          <% end %>
        </div>
        
        <% control_count = @assessment_controls.size%>
        <% total_pages = (control_count.to_f / @per_page).ceil %>

        <div class="flex flex-1 items-center">
          <div class="flex gap-2 m-auto items-center">
            <%= link_to "Previous", team_assessment_path(page: @page - 1, per_page: @per_page, framework: @framework, answer_state: @answer_state), class: "btn btn-sm #{'invisible' if @page <= 1}" %>
            <span class="font-semibold"><%= @page %> of <%= total_pages %></span>
            <%= link_to "Next", team_assessment_path(page: @page + 1, per_page: @per_page, framework: @framework, answer_state: @answer_state), class: "btn btn-sm #{'invisible' if @page >= total_pages}" %>
          </div>
          <span class="font-semibold pr-2"><%=control_count%> Controls</span>
        </div>
      </div>
    </div>
    
    <!-- Control Content-->
    <%= render "control_content" %>
  </div>
</div>
