<% content_for(:title) { "Show Subsidiaries" } %> 

<% content_for :left_sidebar do %>
  <%= render "/admin/shared/left_sidebar" %>
<% end %>

<div class="h-screen overflow-hidden">
  <header class="pt-4 pl-4 pr-4 sm:p-4 lg:p-6 pb-0">
    <div class="flex items-center justify-between bg-white rounded-lg p-4">
      <div>
        <h1 class="text-2xl font-bold text-secondary">
          Subsidiaries
        </h1>
        <p class="mt-1 text-sm text-gray-600">
          Manage subsidiary and user assignment
        </p>
      </div>

      <%= link_to new_team_path, class: "btn border-none bg-primary-content focus:bg-primary rounded-lg text-gray-100 flex items-center gap-2" do %>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" /> </svg>
        <span class="hidden sm:inline"> Create Subsidiary </span>
        <span class="sr-only sm:hidden"> Create Subsidiary </span>
      <% end %>
    </div>
  </header>

  <div class="pb-0 px-4 sm:px-4 lg:px-6 overflow-auto" style="height: 84vh">
    <!-- Header -->
    <div class="hidden sm:grid sm:grid-cols-5 font-semibold bg-white p-4 rounded-tl-lg rounded-tr-lg">
      <div class="">Name</div>
      <div class="">Users</div>
      <div class="">Assessments</div>
      <div class="">Created At</div>
      <div class="">Actions</div>
    </div>

    <% @teams.each do |team| %>
      <div class="text-sm px-4 py-2 bg-white hover:bg-base-200">
        <!-- Desktop -->
        <div class="hidden text-sm sm:grid sm:grid-cols-5 sm:items-center">
          <div class="wrap-break-word"><%= team.name %></div>
          <div class="wrap-break-word">
            <%= link_to team.users.size, admin_users_path %>
          </div>
          <div class="wrap-break-word"><%= team.assessments.size %></div>
          <div class=""><%= team.created_at.to_date %></div>
          <div class="flex flex-wrap gap-2">
            <%= link_to edit_team_path(team), 
              class: "inline-flex items-center gap-1 px-3 py-1.5 text-sm text-blue-600 hover:text-blue-900 hover:bg-blue-100 rounded-lg transition-colors" do %>
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
              </svg>
              Edit
            <% end %>

            <%= button_to team_path(team), 
                method: :delete, data: { turbo_confirm: "Are you sure you want to delete #{team&.name}?" },
                class: "inline-flex items-center gap-1 px-3 py-1.5 text-sm text-red-600 hover:text-red-900 hover:bg-red-100 rounded-lg transition-colors" do %>
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
              Delete
            <% end %>
          </div>
        </div>

        <!-- Mobile -->
        <div class="sm:hidden space-y-1 p-2 text-sm">
          <div><span class="font-medium">Name</span> <%= team.name %></div>
          <div><span class="font-medium">Subsidiary</span> <%= team.users.size%></div>
          <div><span class="font-medium">Assessments</span> <%= team.assessments.size%></div>
          <div><span class="font-medium">Created At</span> <%= team.created_at.to_date %></div>
          <div class="flex gap-4 pt-1">
            <%= link_to edit_team_path(team), 
              class: "inline-flex items-center gap-1 px-3 py-1.5 text-sm text-blue-600 hover:text-blue-900 hover:bg-blue-100 rounded-lg transition-colors" do %>
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
              </svg>
              Edit
            <% end %>

            <%= button_to "Delete", team, method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-600 hover:underline" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
