<% content_for(:title) { "Sign in" } %>

<div class="h-screen login-bg">
  <div>
    <div class="panel panel--centered mb-16 px-10 py-6 md:w-2/3 w-full mx-auto bg-white/85">
        <div class="justify-items-center p-2 pt-0" style="text-align: -webkit-center;">
          <%= svg_tag "logo.svg", alt: "UBA Logo", class: "w-26" %>
        </div>
    
      <%= form_with url: session_url, data: { turbo: false }, class: "contents" do |form| %>
        <div class="my-5 mb-3">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username",
              placeholder: "Enter your email address", value: params[:email_address],
              class: "text-base text-neutral-700 block shadow-sm rounded-lg border border-gray-400 focus:outline-secondary focus:border-secondary px-4 py-2 w-full" %>
        </div>
  
        <div class="my-3">
          <%= form.password_field :password, required: true, autocomplete: "off", placeholder: "Enter your password",
              maxlength: 72, class: "text-base text-neutral-700 block shadow-sm rounded-lg border border-gray-400 focus:outline-secondary focus:border-secondary px-4 py-2 w-full" %>
        </div>
  
        <div class="col-span-6 flex flex-col items-center gap-1">
          <div class="py-2 inline">
            <%= form.button type: "submit", class: "group bg-primary-content text-white hover:bg-primary px-3.5 py-2 inline-flex items-center justify-center rounded-full active:scale-95 transition" do %>
              <span class="text-base font-medium">Sign In</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 transition-transform group-hover:translate-x-1"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3"> <path stroke-linecap="round"
                stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" /></svg>
            <% end %>
          </div>
  
          <div class="mt-4">
            <% if Account.accepting_signups %>
              <div class="">
                <span class="text-gray-600 text-sm">Create a new account? <%= link_to "Sign up", new_sign_up_path, class:"hover:underline" %></span>
              </div>
            <% end %>
            <div class="text-center">
              <%= link_to "Forgot your password?", new_password_path, class: "text-sm text-gray-600 hover:underline" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>