<%= form_with url:admin_assessments_path, method: :post do |form| %>
  <% if @errors.any? %>
      <div class="bg-red-50 border border-red-200 text-red-700 px-4 p-3 rounded mb-4 ml-4 mr-4">
        <p class="font-semibold">
          <%= pluralize(@errors.count, "error") %> prevented assessment(s) from being saved:
        </p>

        <ul class="list-disc ml-5 mt-2">
          <% @errors.each do |message| %>
            <li><%= message.join(", ") %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="flex flex-col gap-y-8 px-8">
    <div class="w-full mt-1">
      <%= text_field_tag :name, @name, required: true, autofocus: true, placeholder: "Name of assessment",
          class: "text-2xl block font-semibold border-b-2 focus:border-secondary border-gray-200 focus:outline-none px-2 py-1 w-full" %>
    </div>

    <fieldset class="">
      <legend class="font-semibold mb-2 text-gray-600">
        Security framework(s)
      </legend>

      <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-2 gap-y-1">
        <% Framework.all.each do |framework| %>
          <label class="flex items-center gap-2 mb-1 cursor-pointer">
            <%= check_box_tag "framework_ids[]", framework.id, @framework_ids&.include?(framework.id.to_s), class: "checkbox checkbox-sm" %>
            <p><%= framework.code %></p>
          </label>
        <% end %>
      </div>
    </fieldset>

    <fieldset class="">
      <legend class="font-semibold mb-2 text-gray-600">
        Select subsidiaries (teams)
      </legend>
      <% if @teams.present?%>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-2 gap-y-1">
          <% @teams.each do |team| %>
            <label class="flex items-center gap-2 mb-1 cursor-pointer">
              <%= check_box_tag "team_ids[]", team.id, @team_ids&.include?(team.id.to_s), class: "checkbox checkbox-sm" %>
              <p><%= team.name %></p>
            </label>
          <% end %>
        </div>
      <% elsif %>
        <%= link_to "Create subsidiary", new_team_path, class: "btn rounded-lg border-0 bg-secondary text-white" %>
      <% end %>
    </fieldset>
  </div>

  <div class="p-8 flex justify-end">
    <%= submit_tag "Create Assessments", class: "btn rounded-lg bg-primary-content text-base text-gray-100 focus:bg-primary" %>
  </div>
<% end %>

