<% content_for(:title) { "Compliance at-a-Glance" } %>

<% content_for :left_sidebar do %>
  <%= render "executive/shared/left_sidebar" %>
<% end %>

<div class="flex flex-col m-8 h-screen">
  <header>
    <div class="flex gap-4">
      <!--Title-->
      <div class="pr-2 flex-1">
        <!--Back button -->
        <%= link_to "javascript:history.back()", class: "flex items-center gap-1 text-base font-semibold hover:bg-gray-200 w-fit rounded-lg py-1 px-3" do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="w-4 h-4"><path d="M10 19l-7-7 7-7"/><path d="M3 12h18"/></svg>
          Back
        <% end %>
        <h2 class="text-4xl text-secondary font-black pt-2" style="font-family: 'Times New Roman', Times, serif">
          <% Current.user.role.capitalize %> Group Information Security Compliance at-a-Glance
        </h2>
        <p class="py-1">
          <div class="text-gray-600 text-xl" >Monitor compliance posture accross all subsidiaries</div>
        </p>
      </div>

      <!--Executive Insight-->
      <div class="bg-secondary py-4 px-5 rounded-2xl shrink max-w-2/5">
        <div class="inline-flex items-center gap-2 px-3 py-1 rounded-full border bg-white border-white border-border/60 bg-card/40">
          <svg xmlns="http://www://w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFC600" stroke="#FFC600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles h-4 w-4 text-accent"> <path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z"></path> <path d="M20 3v4"></path> <path d="M22 5h-4"></path> <path d="M4 17v2"></path> <path d="M5 18H3"></path> </svg>
          <span class="text-xs font-bold text-foreground/90 text-secondary">Executive Insights</span>
        </div>
        <div class="mt-3 text-white">
          <ul class="space-y-2">
            <li class="flex items-start gap-2">
              <span class=" mt-0.5">◆</span>
              <% if @metrics.compliant_extreme.most.size == 1 %>
                <span><%= @metrics.compliant_extreme.most.first %> is the country with the <strong>highest</strong> compliance rating</span>
              <% else %>
                <span><%= @metrics.compliant_extreme.most.to_sentence %> are the countries with the <strong>highest</strong> compliance rating</span>
              <% end %>
            </li>
            <li class="flex items-start gap-2">
              <span class="mt-0.5">◆</span>
              <% if @metrics.compliant_extreme.least.size == 1 %>
                <span><%= @metrics.compliant_extreme.least.first %> is the country with the <strong>lowest</strong> compliance rating</span>
              <% else %>
                <span><%= @metrics.compliant_extreme.least.to_sentence %> are the countries with the <strong>lowest</strong> compliance rating</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>


  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 my-6">

    <!--Framework Filter-->
    <div class="bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 relative overflow-hidden">
      <!--Filters-->
      <%= form_with url: executive_group_dashboard_path, method: :get, local: true,
          data: { controller: "autosave", action: "change->autosave#debouncedSubmit" } do |form| %>

          <div class="px-5 py-2 pb-2 bg-primary-content">
            <span class="flex items-center gap-0.5">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px" viewBox="0 -960 960 960" fill="#FFFFFF"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-308 198-252H282l198 252Zm0 0Z"/></svg>
              <span class="font-semibold text-white"> FILTER BY FRAMEWORK </span>
            </span>
          </div>
            
          <div class="w-full p-6">
            <!-- Framework -->
            <fieldset>
              
              <%= form.select :framework,
                (@frameworks || []).map { |f| [f.code, f.id] },
                { include_blank: "All Frameworks", selected: @framework&.id },
                {
                  class: "select w-full"
                } %>
            </fieldset>
          </div>
      <% end %>
    </div>

    <!--Controls for framework in the current view-->
    <div class="p-5 pt-4 bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 relative flex items-start gap-6">
      <div class=" inline-flex shrink-0 rounded-xl border border-neutral-200 bg-background/40 p-2.5 shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#d51709" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check h-5 w-5 text-primary" data-replit-metadata="client/src/pages/Dashboard.tsx:246:22" data-component-name="ShieldCheck"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"></path><path d="m9 12 2 2 4-4"></path></svg>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <div class="text-sm font-semibold text-gray-500">
            GROUP COMPLIANCE
          </div>
        </div>
        <div class="font-bold text-4xl mt-2 text-gray-800" style="font-family: 'Times New Roman', Times, serif">
          <%= number_to_percentage(@metrics.group_compliance, precision: 0) %>
        </div>
        <div class="text-sm text-gray-500 mt-2">
          Overall compliance across the group
        </div>
      </div>
    </div>

    <div>
      <!--Frameworks in the current view-->
      <div class="p-5 pt-4 bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 relative flex items-start gap-6">
        <div class=" inline-flex shrink-0 rounded-xl border border-neutral-200 bg-background/40 p-2.5 shadow-sm">
          <svg height="20px" width="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"  xml:space="preserve"> <style type="text/css"> .st0{fill:#d51709;} </style> <g> <path class="st0" d="M255.996,74.939C114.838,74.939,0,189.784,0,330.942c0,19.646,2.24,39.233,6.667,58.228 c0.509,2.18,1.093,4.202,1.745,6.074c7.714,24.672,30.948,41.817,56.865,41.817h381.364c24.104,0,45.847-14.785,55-36.679 c1.108-2.18,2.03-4.599,2.734-7.296c0.27-1.026,0.689-2.741,1.318-5.528c4.179-18.478,6.307-37.54,6.307-56.617 C512,189.784,397.155,74.939,255.996,74.939z M475.763,380.811c-1.026,4.547-1.356,5.64-1.431,5.64l0.067-0.921 c-3.579,12.35-14.897,20.852-27.758,20.852H65.277c-12.831,0-24.119-8.456-27.729-20.77l0.21,1.416 c-0.045,0-0.33-1.026-1.214-4.816c-3.835-16.471-5.865-33.631-5.865-51.27c0-124.448,100.877-225.324,225.317-225.324 c124.44,0,225.324,100.876,225.324,225.324C481.321,348.08,479.396,364.767,475.763,380.811z"/> <path class="st0" d="M267.569,297.207c-3.633-1.244-7.52-1.955-11.572-1.955c-19.707,0-35.683,15.976-35.683,35.69 c0,19.706,15.976,35.682,35.683,35.682c18.036,0,32.912-13.392,35.308-30.769c0.225-1.618,0.374-3.243,0.374-4.913 C291.679,315.288,281.59,302.015,267.569,297.207z"/> <path class="st0" d="M399.716,194.787c-3.138-3.392-8.808-3.468-13.257-0.18l-123.594,91.004c2.696,0.412,5.378,1.049,8.014,1.955 c15.968,5.483,27.406,19.182,30.275,35.383l97.79-114.913C402.548,203.813,402.877,198.143,399.716,194.787z"/> <path class="st0" d="M340.402,182.908c5.543,3.214,12.628,1.303,15.834-4.239c3.206-5.551,1.303-12.636-4.239-15.849 c-5.543-3.19-12.644-1.288-15.849,4.247C332.956,172.624,334.844,179.717,340.402,182.908z"/> <path class="st0" d="M259.239,161.172c6.412,0,11.595-5.206,11.595-11.595c0-6.411-5.183-11.602-11.595-11.602 c-6.396,0-11.594,5.191-11.594,11.602C247.645,155.966,252.843,161.172,259.239,161.172z"/> <path class="st0" d="M76.175,320.898c-6.726,0-12.209,5.468-12.209,12.209s5.482,12.194,12.209,12.194 c6.741,0,12.194-5.453,12.194-12.194S82.916,320.898,76.175,320.898z"/> <path class="st0" d="M114.441,226.471c-5.542-3.206-12.643-1.289-15.849,4.254c-3.19,5.542-1.288,12.628,4.239,15.841 c5.558,3.206,12.658,1.296,15.864-4.247C121.886,236.776,119.984,229.677,114.441,226.471z"/> <path class="st0" d="M166.497,162.82c-5.558,3.213-7.445,10.298-4.239,15.849c3.191,5.542,10.291,7.453,15.834,4.239 c5.543-3.19,7.445-10.299,4.254-15.841C179.141,161.531,172.04,159.629,166.497,162.82z"/> <path class="st0" d="M404.038,226.471c-5.542,3.206-7.445,10.306-4.239,15.849c3.206,5.558,10.292,7.453,15.849,4.247 c5.542-3.213,7.445-10.299,4.239-15.841C416.696,225.182,409.595,223.265,404.038,226.471z"/> <path class="st0" d="M433.144,335.062c6.412,0,11.595-5.184,11.595-11.587c0-6.412-5.183-11.61-11.595-11.61 c-6.411,0-11.594,5.198-11.594,11.61C421.55,329.878,426.733,335.062,433.144,335.062z"/> </g> </svg>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <div class="text-sm font-semibold text-gray-500">
              ASSESSMENT COVERAGE
            </div>
          </div>
          <div class="font-bold text-4xl mt-2 text-gray-800" style="font-family: 'Times New Roman', Times, serif">
            <%= number_to_percentage(@metrics.assessment_coverage, precision: 0) %>
          </div>
          <div class="text-sm text-gray-500 mt-2">
           Controls assessed vs total controls
          </div>
        </div>
      </div>
    </div>

    

    <!---Controls per assessement per framework-->
    <div class="p-5 pt-4 bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 relative flex items-start gap-6">
      <div class=" inline-flex shrink-0 rounded-xl border border-neutral-200 bg-background/40 p-2.5 shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#d51709" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check h-5 w-5 text-primary" data-replit-metadata="client/src/pages/Dashboard.tsx:246:22" data-component-name="ShieldCheck"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"></path><path d="m9 12 2 2 4-4"></path></svg>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <div class="text-sm font-semibold text-gray-500">
            # MOST COMPLIANT SUBSIDIARES
          </div>
        </div>
        <div class="font-bold text-4xl mt-2 text-gray-800" style="font-family: 'Times New Roman', Times, serif">
          <ul>
            <li class="text-2xl"><%= @metrics.c_values.count { |v| v > 70 }%> Subsidiaries - 70% and above Compliant</li>
          </ul>
        </div>
        <div class="text-sm text-gray-500">
          
        </div>
      </div>
    </div>
  </div>

  <!---Charts -->
  <div class="flex justify-between flex-wrap gap-y-4">

    <!--Group Compliance chart-->
    <div class="flex self-start shadow-md transition-shadow px-4 py-1 rounded-2xl bg-white w-full h-full overflow-hidden" style="">
      <div data-controller="group-compliance-chart" 
          data-group-compliance-chart-labels-value="<%= @metrics.labels.to_json %>"
          data-group-compliance-chart-c-value="<%= @metrics.c_values.to_json %>" 
          data-group-compliance-chart-ofi-value="<%= @metrics.ofi_values.to_json %>" 
          data-group-compliance-chart-nc-value="<%= @metrics.nc_values.to_json %>" 
          data-group-compliance-chart-na-value="<%= @metrics.nas_values.to_json %>"
          class="w-full h-full">
      </div>

    </div>

  </div>
  <div>
    <div>

    </div>
  </div>
</div>
