<% @page_title = "Check your email" %>

<div class="h-screen mx-auto content-center" >
  <div class="panel panel--centered mb-16">
    <div class="px-8 py-8 flex flex-col gap-2 <%= "shake" if flash[:alert] || flash[:shake] %>">
      <div class="justify-center items-center p-12 pt-0" style="text-align: -webkit-center">
        <%= svg_tag "logo.svg", alt: "UBA Logo", class: "w-36" %>
      </div>
      <header>
        <h1 class="text-3xl font-bold m-0"><%= @page_title %></h1>
          <p class="m-2 text-lg">
            Then enter the verification code included in the email below:
          </p>
      </header>
    
      <%= form_with url: session_magic_link_path, method: :post, html: { data: { controller: "magic-link" } } do |form| %>
        <%= form.text_field :code, required: true, class: "rounded-xl border border-solid border-gray-500 w-full py-3 uppercase font-mono text-4xl font-black tracking-[1ch] text-center",
            autofocus: true, autocorrect: "off", autocapitalize: "off", spellcheck: "false", "data-1p-ignore": true,
            autocomplete: "one-time-code", maxlength: "6", placeholder: "••••••", value: params[:code],
            data: { magic_link_target: "input", action: "keydown.enter->magic-link#submitOnEnter paste->magic-link#submitOnPaste" } %>
      <% end %>
    
      <p class="txt-small mt-2">The code sent to <strong><%= email_address_pending_authentication %></strong> will work for <%= distance_of_time_in_words(MagicLink::EXPIRATION_TIME) %>.</p>
    </div>
    
    <% if Rails.env.development? && flash[:magic_link_code].present? %>
      <div class="flex align-center justify-center p-8 fill-shade border-radius pad margin-block-start full-width position-relative m-auto" style="animation: slide-up-fade-in 400ms ease-out both; max-width: 42ch; overflow: hidden;">
        <button class="btn text-base rounded-lg text-white bg-secondary" onclick="navigator.clipboard.writeText('<%= j flash[:magic_link_code] %>')">📋 Click to copy OTP</button>
        <span class="txt-xx-small txt-uppercase font-weight-black txt-align-center flex align-center justify-center" style="position: absolute; top: 0; bottom: 0; left: 0; background: var(--color-ink-lighter); padding: 0 0.5em; writing-mode: vertical-rl; transform: rotate(180deg); line-height: 1;">DEV</span>
      </div>
    <% end %>
  </div>
</div>

<%# <% content_for :footer do %>
<%#   <%= render "sessions/footer" %>
<%# <% end %>