<!DOCTYPE html>
<html lang="en" data-theme="light">
  <%= render "layouts/shared/admin_head" %>
  
  <body class="flex">
    <%= render "shared/flash" %>
    <%= yield :left_sidebar if content_for?(:left_sidebar) %>

    <main id="main" class="flex-1 flex flex-col">
      <%= yield :header  if content_for?(:header) %>
      <%= yield %>
    </main>

    <%= yield :footer if content_for?(:footer) %>
  </body>
</html>