<!DOCTYPE html> 
<html lang="en">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body class="flex flex-row">
    <%= render "shared/flash" %>
    <%= yield :left_sidebar if content_for?(:left_sidebar) %>

    <main id="main" class="h-screen overflow-y-auto flex-1 flex flex-col gap-6">
      <%= yield %>
    </main>

    <%= yield :footer if content_for?(:footer) %>
  </body>
</html>
